@using Loot_Lo_Client.Helper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loot_Lo_Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Loot_Lo_Client</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (SessionHelper.GetObjectFromJson<Customer>(Context.Session, "customer") != null)
                        {
                            @*<li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="GetProductByCategory" asp-route-id="1">Electronics</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="GetProductByCategory" asp-route-id="2">Clothing</a></li>
                            </ul>
                        </li>*@
                        }
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="GetProductByCategory" asp-route-id="1">Electronics</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="GetProductByCategory" asp-route-id="2">Clothing</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            @if (SessionHelper.GetObjectFromJson<Customer>(Context.Session, "customer") != null)
            {
                string name = SessionHelper.GetObjectFromJson<Customer>(Context.Session, "customer").CustomerName;

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>@name</b><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" asp-controller="Customer" asp-action="Update">Update</a></li>
                            <li><a class="dropdown-item" asp-controller="Cart" asp-action="DisplayCart">Cart</a></li>
                            <li><a class="dropdown-item" asp-controller="Order" asp-action="OrderHistory">Orders</a></li>
                            <li><a class="dropdown-item" asp-controller="Customer" asp-action="Logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b class="text-primary">Login/Signup</b><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Login">Login</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Register">Register</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Loot_Lo_Client - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
